SESSION_NAME=My ARK Server
SERVER_MAP=TheIsland
SERVER_PASSWORD=yourpassword
ADMIN_PASSWORD=youradminpassword
MAX_PLAYERS=2
UPDATE_ON_START=true
BACKUP_ON_STOP=true
PRE_UPDATE_BACKUP=true
WARN_ON_STOP=true
ENABLE_CROSSPLAY=false
DISABLE_BATTLEYE=false
GAME_MOD_IDS=1404697612,2142974617,1428596566
